* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

header,
footer {
  background-color: rgb(236, 182, 182);
}

nav,
aside {
  background-color: rgb(143, 214, 175);
}

section {
  background-color: rgb(117, 181, 221);
}

nav a {
  display: inline-block;
  background: rgb(109, 109, 213);
  padding: 0.5em 1em;
  margin-bottom: 1em;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.ad {
  background-color: yellow;
}
